body{
    padding: 50px;
    background-color: #EFFBF8;
    font-family: sans-serif;
}

#root{
    display: flex;
    justify-content: center;   
}

.input{
    border: none;
    float: left;
    height: 30px;
    width: 300px;
}

.input:focus{
    background-color: yellow;
}

.addBtn {
    border-top: none;
    border-right: none;
    border-bottom: none;
    float: right;
    height: 30px;
}

.removeBtn{
    width: 30px;
    border: 2px solid rgba(73, 204, 249, 0.75); 
    float: right;   
}
 

  h3 {
      text-align: center;
  }

  ul{
      list-style-type: none;
     
  }

  .space{
      height: 50px;
  }

  li{
      background-color: white;
      width: 100%;
      margin-bottom: 20px;
      border: 1px solid #efefef;
      
    
  }


